In [14]:
import sqlite3
import pandas as pd

df = pd.read_csv("data/projects_data.csv")

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('data/demo.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS projects (
project_id INTEGER PRIMARY KEY, 
project_title TEXT, 
initial_award_fiscal_year INTEGER,
funding_amount DECIMAL);''')

# Insert data into the table
df.to_sql('projects', conn, if_exists='replace', index=False)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [15]:
sql_query = "SELECT COUNT(project_id) AS number_of_projects FROM projects WHERE initial_award_fiscal_year = '2020';"
conn = sqlite3.connect('data/demo.db')
cursor = conn.cursor()
df = pd.read_sql_query(sql_query, conn, index_col=None)
print(df)

   number_of_projects
0                   2

In [20]:
import sqlite3
import pandas as pd

df = pd.read_csv("data/projects.csv", encoding='cp1252')

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('data/demo1.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS projects (
project_id INTEGER PRIMARY KEY, 
region TEXT, 
research_location TEXT,
research_unit TEXT,
project_name TEXT,
start_date TEXT,
end_date TEXT,
objective TEXT,
approach TEXT,
project_type TEXT,
link TEXT);''')

# Insert data into the table
df.to_sql('projects', conn, if_exists='replace', index=False)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [18]:
sql_query = "SELECT COUNT(project_id) AS number_of_projects FROM projects WHERE strftime('%Y', start_date) = '2019';"
#sql_query = "SELECT start_date from projects;"
conn = sqlite3.connect('data/demo1.db')
cursor = conn.cursor()
df = pd.read_sql_query(sql_query, conn, index_col=None)
print(df)

   number_of_projects
0                   1

In [19]:
sql_query = "SELECT project_name from projects WHERE research_location = 'Athens, Georgia';"
#sql_query = "SELECT start_date from projects;"
conn = sqlite3.connect('data/demo1.db')
cursor = conn.cursor()
df = pd.read_sql_query(sql_query, conn, index_col=None)
print(df)

Empty DataFrame
Columns: [project_name]
Index: []