In [1]:
# Import the necessary libraries
import boto3  # AWS SDK for Python
from langchain_community.document_loaders import JSONLoader  # Utility to load JSON files
from langchain.llms import Bedrock  # Large Language Model (LLM) from Anthropic
from langchain_community.chat_models import BedrockChat  # Chat interface for Bedrock LLM
from langchain.embeddings import BedrockEmbeddings  # Embeddings for Titan model
from langchain.memory import ConversationBufferWindowMemory  # Memory to store chat conversations
from langchain.indexes import VectorstoreIndexCreator  # Create vector indexes
from langchain.vectorstores import FAISS  # Vector store using FAISS library
from langchain.text_splitter import RecursiveCharacterTextSplitter  # Split text into chunks
from langchain.chains import ConversationalRetrievalChain  # Conversational retrieval chain
from langchain.callbacks.manager import CallbackManager

In [8]:
# Create a Boto3 client for Bedrock Runtime
bedrock_runtime = boto3.client(
    service_name="bedrock-runtime",
    region_name="us-east-1"
)

# Function to get the LLM (Large Language Model)
def get_llm():
    model_kwargs = {  # Configuration for Anthropic model
        "max_tokens": 512,  # Maximum number of tokens to generate
        "temperature": 0.2,  # Sampling temperature for controlling randomness
        "top_k": 250,  # Consider the top k tokens for sampling
        "top_p": 1,  # Consider the top p probability tokens for sampling
        "stop_sequences": ["\n\nHuman:"]  # Stop sequence for generation
    }
    # Create a callback manager with a default callback handler
    callback_manager = CallbackManager([])
    
    llm = BedrockChat(
        model_id="anthropic.claude-3-5-sonnet-20240620-v1:0",  # Set the foundation model
        model_kwargs=model_kwargs,  # Pass the configuration to the model
        callback_manager=callback_manager
        
    )

    return llm

# Function to load the schema file based on the schema type
def load_schema_file(schema_type):
    if schema_type == 'Schema_Type_A':
        schema_file = "Table_Schema_A.json"  # Path to Schema Type A
    elif schema_type == 'Schema_Type_B':
        schema_file = "Table_Schema_B.json"  # Path to Schema Type B
    elif schema_type == 'Schema_Type_C':
        schema_file = "Table_Schema_C.json"  # Path to Schema Type C
    return schema_file

# Function to get the vector index for the given schema type
def get_index(schema_type):
    embeddings = BedrockEmbeddings(model_id="amazon.titan-embed-text-v2:0",
                                   client=bedrock_runtime)  # Initialize embeddings

    db_schema_loader = JSONLoader(
        file_path=load_schema_file(schema_type),  # Load the schema file
        # file_path="Table_Schema_RP.json",  # Uncomment to use a different file
        jq_schema='.',  # Select the entire JSON content
        text_content=False)  # Treat the content as text

    db_schema_text_splitter = RecursiveCharacterTextSplitter(  # Create a text splitter
        separators=["separator"],  # Split chunks at the "separator" string
        chunk_size=10000,  # Divide into 10,000-character chunks
        chunk_overlap=100  # Allow 100 characters to overlap with previous chunk
    )

    db_schema_index_creator = VectorstoreIndexCreator(
        vectorstore_cls=FAISS,  # Use FAISS vector store
        embedding=embeddings,  # Use the initialized embeddings
        text_splitter=db_schema_text_splitter  # Use the text splitter
    )

    db_index_from_loader = db_schema_index_creator.from_loaders([db_schema_loader])  # Create index from loader

    return db_index_from_loader

# Function to get the memory for storing chat conversations
def get_memory():
    memory = ConversationBufferWindowMemory(memory_key="chat_history", return_messages=True)  # Create memory

    return memory

# Template for the question prompt
template = """ Read table information from the context. Each table contains the following information:
- Name: The name of the table
- Description: A brief description of the table
- Columns: The columns of the table, listed under the 'columns' key. Each column contains:
  - Name: The name of the column
  - Description: A brief description of the column
  - Type: The data type of the column
  - Synonyms: Optional synonyms for the column name
- Sample Queries: Optional sample queries for the table, listed under the 'sample_data' key

Given this structure, Your task is to provide the SQL query using Amazon Redshift syntax that would retrieve the data for following question. The produced query should be functional, efficient, and adhere to best practices in SQL query optimization.

Question: {}
"""

# Function to get the response from the conversational retrieval chain
def get_rag_chat_response(input_text, memory, index):
    llm = get_llm()  # Get the LLM

    conversation_with_retrieval = ConversationalRetrievalChain.from_llm(
        llm, index.vectorstore.as_retriever(), memory=memory, verbose=True)  # Create conversational retrieval chain

    chat_response = conversation_with_retrieval.invoke({"question": template.format(input_text)})  # Invoke the chain
    print(chat_response)
    return chat_response['answer']  # Return the answer

In [9]:
input_prompt = "Write a query to extract the cancelled order count for the items which were listed this year"

chat_response = get_rag_chat_response(input_text= input_prompt, memory= get_memory(),
                                                       index=get_index("Schema_Type_A") )

/tmp/ipykernel_248/532003110.py:19: DeprecationWarning: callback_manager is deprecated. Please use callbacks instead.
  llm = BedrockChat(

> Entering new StuffDocumentsChain chain...


> Entering new LLMChain chain...
Prompt after formatting:
System: Use the following pieces of context to answer the user's question.
If you don't know the answer, just say that you don't know, don't try to make up an answer.
----------------
{"tables": [{"separator": "table_1", "name": "schema_a.orders", "schema": "CREATE TABLE schema_a.orders (order_id character varying(200), order_date timestamp without time zone, customer_id numeric(38,0), order_status character varying(200), item_id character varying(200) );", "description": "This table stores information about orders placed by customers.", "columns": [{"name": "order_id", "description": "unique identifier for orders.", "synonyms": ["order id"]}, {"name": "order_date", "description": "timestamp when the order was placed", "synonyms": ["order time", "order day"]}, {"name": "customer_id", "description": "Id of the customer associated with the order", "synonyms": ["customer id", "userid"]}, {"name": "order_status", "description": "current status of the order, sample values are: shipped, delivered, cancelled", "synonyms": ["order status"]}, {"name": "item_id", "description": "item associated with the order", "synonyms": ["item id"]}], "sample_queries": [{"query": "select count(order_id) as total_orders from schema_a.orders where customer_id = '9782226' and order_status = 'cancelled'", "user_input": "Count of orders cancelled by customer id: 978226"}]}, {"separator": "table_2", "name": "schema_a.customers", "schema": "CREATE TABLE schema_a.customers (customer_id numeric(38,0), customer_name character varying(200), registration_date timestamp without time zone, country character varying(200) );", "description": "This table stores the details of customers.", "columns": [{"name": "customer_id", "description": "Id of the customer, unique identifier for customers", "synonyms": ["customer id"]}, {"name": "customer_name", "description": "name of the customer", "synonyms": ["name"]}, {"name": "registration_date", "description": "registration timestamp when customer registered", "synonyms": ["sign up time", "registration time"]}, {"name": "country", "description": "customer's original country", "synonyms": ["location", "customer's region"]}], "sample_queries": [{"query": "select count(customer_id) as total_customers from schema_a.customers where country = 'India' and to_char(registration_date, 'YYYY') = '2024'", "user_input": "The number of customers registered from India in 2024"}, {"query": "select count(o.order_id) as order_count from schema_a.orders o join schema_a.customers c on o.customer_id = c.customer_id where c.customer_name = 'john' and to_char(o.order_date, 'YYYY-MM') = '2024-01'", "user_input": "Total orders placed in January 2024 by customer name john"}]}, {"separator": "table_3", "name": "schema_a.items", "schema": "CREATE TABLE schema_a.items (item_id character varying(200), item_name character varying(200), listing_date timestamp without time zone );", "description": "This table stores the complete details of items listed in the catalog.", "columns": [{"name": "item_id", "description": "Id of the item, unique identifier for items", "synonyms": ["item id"]}, {"name": "item_name", "description": "name of the item", "synonyms": ["name"]}, {"name": "listing_date", "description": "listing timestamp when the item was registered", "synonyms": ["listing time", "registration time"]}], "sample_queries": [{"query": "select count(item_id) as total_items from schema_a.items where to_char(listing_date, 'YYYY') = '2024'", "user_input": "how many items are listed in 2024"}, {"query": "select count(o.order_id) as order_count from schema_a.orders o join schema_a.customers c on o.customer_id = c.customer_id join schema_a.items i on o.item_id = i.item_id where c.customer_name = 'john' and i.item_name = 'iphone'", "user_input": "how many orders are placed for item 'iphone' by customer name john"}]}]}
Human:  Read table information from the context. Each table contains the following information:
- Name: The name of the table
- Description: A brief description of the table
- Columns: The columns of the table, listed under the 'columns' key. Each column contains:
  - Name: The name of the column
  - Description: A brief description of the column
  - Type: The data type of the column
  - Synonyms: Optional synonyms for the column name
- Sample Queries: Optional sample queries for the table, listed under the 'sample_data' key

Given this structure, Your task is to provide the SQL query using Amazon Redshift syntax that would retrieve the data for following question. The produced query should be functional, efficient, and adhere to best practices in SQL query optimization.

Question: Write a query to extract the cancelled order count for the items which were listed this year


> Finished chain.

> Finished chain.
{'question': " Read table information from the context. Each table contains the following information:\n- Name: The name of the table\n- Description: A brief description of the table\n- Columns: The columns of the table, listed under the 'columns' key. Each column contains:\n  - Name: The name of the column\n  - Description: A brief description of the column\n  - Type: The data type of the column\n  - Synonyms: Optional synonyms for the column name\n- Sample Queries: Optional sample queries for the table, listed under the 'sample_data' key\n\nGiven this structure, Your task is to provide the SQL query using Amazon Redshift syntax that would retrieve the data for following question. The produced query should be functional, efficient, and adhere to best practices in SQL query optimization.\n\nQuestion: Write a query to extract the cancelled order count for the items which were listed this year\n", 'chat_history': [], 'answer': "To answer this question, we need to join information from multiple tables and apply the necessary filters. Let's break down the requirements and construct the query step by step:\n\n1. We need to count cancelled orders\n2. We need to consider only items listed this year\n3. We need to join the orders, items, and possibly customers tables\n\nHere's the SQL query that should accomplish this using Amazon Redshift syntax:\n\n```sql\nSELECT \n    i.item_name,\n    COUNT(o.order_id) AS cancelled_order_count\nFROM \n    schema_a.orders o\nJOIN \n    schema_a.items i ON o.item_id = i.item_id\nWHERE \n    o.order_status = 'cancelled'\n    AND EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)\nGROUP BY \n    i.item_name\nORDER BY \n    cancelled_order_count DESC;\n```\n\nLet's break down the query:\n\n1. We join the `orders` and `items` tables using the `item_id`.\n2. We filter for cancelled orders using `o.order_status = 'cancelled'`.\n3. We filter for items listed this year using `EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)`. This compares the year of the listing date with the current year.\n4. We group by `item_name` to get the count for each item.\n5. We order by the cancelled order count in descending order to see the items with the most cancellations first.\n\nThis query will give you a list of items that were listed this year, along with the count of how many times orders for these items were cancelled. The results will be sorted with the most frequently cancelled items at the top.\n\nNote: If you need the total count across all items instead of a breakdown by item, you can modify the query to remove the GROUP BY and simply SUM the count:\n\n```sql\nSELECT \n    COUNT(o.order_id) AS total_cancelled_order_count\nFROM \n    schema_a.orders o\nJOIN \n    schema_a.items i ON o.item_id = i.item_id\nWHERE \n    o."}

In [19]:
chat_response = "To answer this question, we need to join information from multiple tables and apply the necessary filters. Let's break down the requirements and construct the query step by step:\n\n1. We need to count cancelled orders\n2. We need to consider only items listed this year\n3. We need to join the orders, items, and possibly customers tables\n\nHere's the SQL query that should accomplish this using Amazon Redshift syntax:\n\n```sql\nSELECT \n    i.item_name,\n    COUNT(o.order_id) AS cancelled_order_count\nFROM \n    schema_a.orders o\nJOIN \n    schema_a.items i ON o.item_id = i.item_id\nWHERE \n    o.order_status = 'cancelled'\n    AND EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)\nGROUP BY \n    i.item_name\nORDER BY \n    cancelled_order_count DESC;\n```\n\nLet's break down the query:\n\n1. We join the `orders` and `items` tables using the `item_id`.\n2. We filter for cancelled orders using `o.order_status = 'cancelled'`.\n3. We filter for items listed this year using `EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)`. This compares the year of the listing date with the current year.\n4. We group by `item_name` to get the count for each item.\n5. We order by the cancelled order count in descending order to see the items with the most cancellations first.\n\nThis query will give you a list of items that were listed this year, along with the count of how many times orders for these items were cancelled. The results will be sorted with the most frequently cancelled items at the top.\n\nNote: If you need the total count across all items instead of a breakdown by item, you can modify the query to remove the GROUP BY and simply SUM the count:\n\n```sql\nSELECT \n    COUNT(o.order_id) AS total_cancelled_order_count\nFROM \n    schema_a.orders o\nJOIN \n    schema_a.items i ON o.item_id = i.item_id\nWHERE \n    o."

In [7]:
def replace_before_pattern(text, pattern, replacement):
    index = text.find(pattern)
    if index != -1:
        return replacement + text[index:]
    return text

In [27]:
sql_query = chat_response.split("```sql")
sql_query = sql_query[1].split("\n```\n\n")[0]
sql_query = "```sql" + sql_query + "```\n"
sql_query

"```sql\nSELECT \n    i.item_name,\n    COUNT(o.order_id) AS cancelled_order_count\nFROM \n    schema_a.orders o\nJOIN \n    schema_a.items i ON o.item_id = i.item_id\nWHERE \n    o.order_status = 'cancelled'\n    AND EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)\nGROUP BY \n    i.item_name\nORDER BY \n    cancelled_order_count DESC;```\n"

In [12]:
a[1]

"\nSELECT \n    i.item_name,\n    COUNT(o.order_id) AS cancelled_order_count\nFROM \n    schema_a.orders o\nJOIN \n    schema_a.items i ON o.item_id = i.item_id\nWHERE \n    o.order_status = 'cancelled'\n    AND EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)\nGROUP BY \n    i.item_name\nORDER BY \n    cancelled_order_count DESC;\n```\n\nLet's break down the query:\n\n1. We join the `orders` and `items` tables using the `item_id`.\n2. We filter for cancelled orders using `o.order_status = 'cancelled'`.\n3. We filter for items listed this year using `EXTRACT(YEAR FROM i.listing_date) = EXTRACT(YEAR FROM CURRENT_DATE)`. This compares the year of the listing date with the current year.\n4. We group by `item_name` to get the count for each item.\n5. We order by the cancelled order count in descending order to see the items with the most cancellations first.\n\nThis query will give you a list of items that were listed this year, along with the count of how many times orders for these items were cancelled. The results will be sorted with the most frequently cancelled items at the top.\n\nNote: If you need the total count across all items instead of a breakdown by item, you can modify the query to remove the GROUP BY and simply SUM the count:\n\n"

In [7]:
# Use the native inference API to send a text message to Meta Llama 3.

import boto3
import json

from botocore.exceptions import ClientError

# Create a Bedrock Runtime client in the AWS Region of your choice.
client = boto3.client("bedrock-runtime", region_name="us-east-1")

# Set the model ID, e.g., Llama 3 70b Instruct.
model_id = "meta.llama3-70b-instruct-v1:0"

# Define the prompt for the model.
prompt = "Generate a SQL query that joins an Orders table and a Customers table to get the customers with the most orders."

# Embed the prompt in Llama 3's instruction format.
formatted_prompt = f"""
<|begin_of_text|><|start_header_id|>user<|end_header_id|>
{prompt}
<|eot_id|>
<|start_header_id|>assistant<|end_header_id|>
"""

# Format the request payload using the model's native structure.
native_request = {
    "prompt": formatted_prompt,
    "max_gen_len": 512,
    "temperature": 0.5,
}

# Convert the native request to JSON.
request = json.dumps(native_request)

try:
    # Invoke the model with the request.
    response = client.invoke_model(modelId=model_id, body=request)

except (ClientError, Exception) as e:
    print(f"ERROR: Can't invoke '{model_id}'. Reason: {e}")
    exit(1)

# Decode the response body.
model_response = json.loads(response["body"].read())

# Extract and print the response text.
response_text = model_response["generation"]
print(response_text)

Here is a SQL query that joins the `Orders` table and the `Customers` table to get the customers with the most orders:
```
SELECT c.CustomerName, COUNT(o.OrderID) AS NumOrders
FROM Customers c
JOIN Orders o ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerName
ORDER BY NumOrders DESC;
```
Here's how the query works:

1. We join the `Customers` table (`c`) with the `Orders` table (`o`) on the `CustomerID` column, which is common to both tables.
2. We use the `GROUP BY` clause to group the results by the `CustomerName` column, so that we can count the number of orders for each customer.
3. We use the `COUNT` aggregation function to count the number of orders for each customer, and alias the result as `NumOrders`.
4. Finally, we use the `ORDER BY` clause to sort the results in descending order by the number of orders, so that the customers with the most orders appear at the top of the list.

This query will return a list of customers, along with the number of orders they have placed. The customers with the most orders will be at the top of the list.

Note: If you want to get only the top N customers with the most orders, you can add a `LIMIT` clause to the query, like this:
```
SELECT c.CustomerName, COUNT(o.OrderID) AS NumOrders
FROM Customers c
JOIN Orders o ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerName
ORDER BY NumOrders DESC
LIMIT 10;  // Get the top 10 customers with the most orders
```
This will return only the top 10 customers with the most orders.

In [13]:
import pandas as pd

payments_df = pd.read_excel("chatbot-demo1/data/FY2024 Payment Accuracy Dataset.xlsx", 
                            sheet_name="All Program Results")

print(payments_df)

     Agency                                       Program Name  Fiscal Year  \
0      CNCS                      AmeriCorps State and National         2014
1      CNCS                      AmeriCorps State and National         2015
2      CNCS                      AmeriCorps State and National         2017
3      CNCS                      AmeriCorps State and National         2018
4      CNCS                      AmeriCorps State and National         2019
...     ...                                                ...          ...
1636     VA  Veterans Health Administration (VHA) Insurance...         2004
1637     VA  Veterans Health Administration (VHA) Insurance...         2005
1638     VA  Veterans Health Administration (VHA) Insurance...         2010
1639     VA  Veterans Health Administration (VHA) Insurance...         2011
1640     VA                        VHA Disaster Relief Funding         2019

      Outlays Amount ($M)  Amount Properly Paid ($M)  Payment Accuracy Rate  \
0                 303.510                    291.120               0.959178
1                 222.400                    207.900               0.934802
2                 247.192                    220.410               0.891655
3                 244.670                    204.570               0.836106
4                 236.210                    197.180               0.834766
...                   ...                        ...                    ...
1636             1676.000                   1675.740               0.999845
1637             1678.000                   1677.690               0.999815
1638             1334.000                   1333.640               0.999730
1639             1613.000                   1612.840               0.999901
1640               19.460                     19.385               0.996146

      Improper Payment Amount ($M)  Improper Payment Rate  \
0                              NaN                    NaN
1                              NaN                    NaN
2                              NaN                    NaN
3                              NaN                    NaN
4                            7.540               0.031921
...                            ...                    ...
1636                           NaN                    NaN
1637                           NaN                    NaN
1638                           NaN                    NaN
1639                           NaN                    NaN
1640                         0.032               0.001644

      Unknown Payment Amount ($M)  Unknown Payment Rate  ...  \
0                             NaN                   NaN  ...
1                             NaN                   NaN  ...
2                             NaN                   NaN  ...
3                             NaN                   NaN  ...
4                          31.490              0.133314  ...
...                           ...                   ...  ...
1636                          NaN                   NaN  ...
1637                          NaN                   NaN  ...
1638                          NaN                   NaN  ...
1639                          NaN                   NaN  ...
1640                        0.043              0.002210  ...

      Current Year +1 Estimated Future Outlays ($M)  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN
...                                             ...
1636                                            NaN
1637                                            NaN
1638                                            NaN
1639                                            NaN
1640                                            NaN

      Current Year +1 Estimated Future Improper Payments ($M)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1636                                                NaN
1637                                                NaN
1638                                                NaN
1639                                                NaN
1640                                                NaN

      Current Year +1 Estimated Future Unknown Payments ($M)   \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1636                                                NaN
1637                                                NaN
1638                                                NaN
1639                                                NaN
1640                                                NaN

      Current Year +1 Estimated Future Improper and Unknown Payments Amount ($M)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1636                                                NaN
1637                                                NaN
1638                                                NaN
1639                                                NaN
1640                                                NaN

      Current Year +1 Estimated Future Improper Payment and Unknown Payment Rate  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1636                                                NaN
1637                                                NaN
1638                                                NaN
1639                                                NaN
1640                                                NaN

      Current Year +1 Improper Payment and Unknown Payment Reduction target  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1636                                                NaN
1637                                                NaN
1638                                                NaN
1639                                                NaN
1640                                                NaN

      Start Date of the sampling timeframe  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                   4/2018
...                                    ...
1636                                   NaN
1637                                   NaN
1638                                   NaN
1639                                   NaN
1640                                9/2017

      End Date of the sampling timeframe  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                 3/2019
...                                  ...
1636                                 NaN
1637                                 NaN
1638                                 NaN
1639                                 NaN
1640                              9/2018

      Confidence Interval for the estimate  Margin of Error for the estimate
0                                      NaN                               NaN
1                                      NaN                               NaN
2                                      NaN                               NaN
3                                      NaN                               NaN
4                                   86-90%                              6.81
...                                    ...                               ...
1636                                   NaN                               NaN
1637                                   NaN                               NaN
1638                                   NaN                               NaN
1639                                   NaN                               NaN
1640                                91-95%                              0.51

[1641 rows x 30 columns]

In [2]:
import sqlite3

# Connect to the SQLite database
# Replace 'your_database.db' with the path to your database file
conn = sqlite3.connect('chatbot-demo1/data/chinook.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a query to retrieve the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all results from the executed query
tables = cursor.fetchall()

# Print the names of the tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# Close the connection
conn.close()

Tables in the database:
albums
sqlite_sequence
artists
customers
employees
genres
invoices
invoice_items
media_types
playlists
playlist_track
tracks
sqlite_stat1